<div class="sign_in" ng-init="signInInit()">
    <div class="logo_cont">
        <img src="/media/img/logo.png" alt="logo" id="logo" />
    </div>
    <h2>Add new account</h2>
    <div class="addAccountButtonsWrap">
        <div class="naccB FBConnect">
            <div class="icon"></div>
            Facebook connect
        </div>
        <div class="sap"></div>
        <div class="naccB createNewAccount" ng-click="__goto('RegFrom')">
            <div class="icon"></div>
            Create new account
        </div>
        <br class="clr" />
    </div>
</div>
