<div class="sign_in" id="root_scope" ng-init="forgotPasswordInit()">
    <div class="logo_cont">
        <img src="/media/img/logo.png" alt="logo" id="logo" />
    </div>
    <h2>Password recovery</h2>
    <div class="sign_in_form gray_form cancel_error password_recovery">
        <div class="processing">
            <img src="media/img/ajax-loader.gif" /> <br><br>
            Processing, please wait...
        </div>
        <form ng-submit="forgotPasswordSubmit()">
            <div class="form_row">
                <label>Email:</label>
                <input type="email" name="email" ng-model="email" placeholder="Email address" required />
            </div>
            <div class="note" ng-repeat="note in notes">                
                *<span ng-bind="note"></span>
            </div>
            <div class="form_row actions">
                <button class="sys-button orange submit" ng-click="signClicked()">Send me a new password</button>
                <button class="sys-button orange wait" style="float:right;"><img src="media/img/loading.gif" /> Please wait</button>
            </div>
            
            <div>
                <a href="javascript:void(0)" ng-click="__goto('signIn')">Back</a>
            </div>
        </form>
        <div class="thanks">
            
            <h4>You're successfully login.</h4>
            <br><br>
            
            
            <button class="sys-button blue" ng-click="__goto('')">Go to home page</button>
        </div>
    </div>
    <div class="gray_form done">
        Your new password has been sent. <br> <br>
        
        <button class="sys-button blue submit" ng-click="__goto('/')">Back to home page</button>
    </div>
</div>

<style>
    .password_recovery {
        
    }
    
    .done {
        display:none;
    }
    
    .wait {
        display:none;
    }
</style>