<div class="main_wrapper" ng-init="gameInit()" id="root_scope">
    <div class="banner" ng-include src="'games/logic/quiz_new/app/partials/includes/banner.html'"></div>
    <div class="main_data">
        <div class="q_row">

            <div class="q_more q_score">
                <h3 ng-bind="score">88</h3>
                SCORE
            </div>
            <div class="question">
                <div class="image" ng-show="q.media">
                    <img ng-src="{{q.media}}" ng-show="q.media" />
                </div>
                
                <span>(<span ng-bind='game_progress.answerd'></span>/<span ng-bind='game_progress.total'></span>) <span ng-bind="questions[0].question"></span></span>
                
            </div>
            <div class="q_more q_time">
                <h3 ng-bind="timer"></h3>
                SECONDS
            </div>
        </div>
        <div class="pb">
            <div class="progress_bar_cont">
                <div class="progress_bar_fill" ng-style="fill_style">
                    
                </div>
            </div>
        </div>
        
        <div class="answer option" ng-repeat="(key, value) in questions[0].answers" id="ans_{{key}}" ng-click="setAns(key,questions[0].q_id);" ng-show="value!=''" >
            <span cont-text-bind="{{value}}" ng-bind="value" ng-click="" ></span>
        </div>
    </div>

    
    <div class="liflines">
        <div class="lifeline skip" ng-class="{used:game_quiz_user.use_skip=='1'}" ng-click="setLife('use_skip')" tarnslate>SKIP</div>
        <div class="lifeline p50_50" ng-class="{used:game_quiz_user.use_5050=='1'}" ng-click="setLife('use_5050')">50:50</div>
        <div class="lifeline plus_30" ng-class="{used:game_quiz_user.use_plus_60=='1'}" ng-click="setLife('use_plus_60')">+30</div>
    </div>

    
    
</div>



<style>
    
</style>