<div id="root_scope">
<div class="wrapper">
    <a class="close_x" href="javascript:void(0)" ng-click="close_popup()"><img src="/media/css/dice/img/close.png" /></a>
    <h1>Change your password</h1>
    <div class="processing">
        <img src="/media/img/ajax-loader.gif" /> <br><br>
        Processing, please wait...
    </div>
    <form ng-submit="signInSubmit()" form-autofill-fix class="password_change">
        <div class="form_row">
            <label>Current Password</label>
            <input type="password" name="old_password" ng-minlength="6" ng-model="f.old_password" placeholder="Your current password" ng-required />
        </div>
        <div class="form_row">
            <label>New Password</label>
            <input ng-class="{match:f.new_password.length>5}" type="password" name="new_password" ng-minlength="6" ng-model="f.new_password" placeholder="Your new password" ng-required />
        </div>
        <div class="form_row">
            <label>Retype new Password</label>
            <input ng-class="{match:(f.new_password==f.retype_password)&&f.retype_password.length>5}" type="password" name="retype_password" ng-minlength="6" ng-model="f.retype_password" placeholder="Retype new password" ng-required />
        </div>
        <div class="note" ng-repeat="note in notes">                
            *<span ng-bind="note"></span>
        </div>
        <div class="form_row actions">
            <button class="sys-button blue submit" ng-click="resetPassword()">Reset Password</button>
            <br class="clr">
        </div>
    </form>
    <div class="gray_form done">
        Your password has been reset successfully. <br> <br>
        
        <button class="sys-button blue submit" ng-click="close_popup()">Close</button>
    </div>
</div>
</div>

<style>
    
    .done {
        display:none;        
    }
    
    .loginPopUp label {
        width:170px;
    }
    
    .loginPopUp input, .loginPopUp textarea {
        width:253px;
    }
    
    .match {
        border:1px solid green !important;
    }
</style>