<div class="social">
    <a href="https://www.facebook.com/wheeldotraining" target="_blank"><img src="/media/css/dice/img/facebook.png" /></a>
    <a href="https://twitter.com/wheeldo_games/" target="_blank"><img src="/media/css/dice/img/twitter.png" /></a>
    <a href="http://www.linkedin.com/company/wheeldo?trk=hb_tab_compy_id_3025061" target="_blank"><img src="/media/css/dice/img/linkedin.png" /></a>
</div>
<div class="copyright">
    Wheeldo &copy; 2014 All rights reserved 
</div>

<div class="links_wrap">
   <a href="/article/terms">
        Terms of Use
    </a>
</div>
