<div id="root_scope">
<div class="wrapper">
    <a class="close_x" href="javascript:void(0)" ng-click="close_popup()"><img src="/media/css/dice/img/close.png" /></a>
    <h1>Password recovery</h1>
    <div class="processing">
        <img src="/media/img/ajax-loader.gif" /> <br><br>
        Processing, please wait...
    </div>
    <form ng-submit="forgotPasswordSubmit()" class="password_recovery">
        <div class="form_row">
            <label>Email</label>
            <input type="email" name="email" ng-model="email" placeholder="Email address" ng-required />
        </div>
        <div class="note" ng-repeat="note in notes">                
            *<span ng-bind="note"></span>
        </div>
        <div class="form_row actions">
            <button type="button" class="sys-button trans" ng-click="back_login()">Back</button>
            <button class="sys-button blue submit" ng-click="signClicked()">Send me a new password</button>
            <button class="sys-button blue wait" style="float:right;"><img src="/media/img/loading.gif" /> Please wait</button>
            <br class="clr">
        </div>
    </form>
    <div class="gray_form done">
        Your new password has been sent. <br> <br>
        
        <button class="sys-button blue submit" ng-click="back_login()">Close</button>
    </div>
</div>
</div>

<style>
    .password_recovery {
        
    }
    
    .done {
        display:none;
    }
    
    .wait {
        display:none;
    }
</style>