<style>
    
    .quiz_template #score-head {
        display:none;
    }
    
    .quiz_template .design_prev_wrapper {
        font-family: 'Arial';
        color: #24244F;
        background-repeat:repeat;
        background-size:cover;
        background-position: center top;
    }
    
    
    .quiz_template .design_prev_wrapper .banner {
        height:auto;
    }

                    
    .quiz_template .banner img.banner_bg{
        width:100%;
        max-height:100px;
        height:auto;
    }
    
    
    
    .quiz_template .design_prev_wrapper .padding-big {
        padding:0px 20px;
    }

    .quiz_template .design_prev_wrapper .info {
        float:right;
        position:absolute;
        top:0px;
        right:20px;
        width:200px;
    }
    
    /*RIGHT SIDEBAR*/
    .quiz_template  .design_prev_wrapper .wall-avatar{
            float:left;
            margin-right:15px;
            border:#66799a 1px solid;
            }
    .quiz_template  .design_prev_wrapper #score-head{
            float:left;
            width:100%;
            margin-bottom:20px;
            position:relative;
            z-index:10;}	
    .quiz_template  .design_prev_wrapper #score-hello{
            position:relative;
            float:left;
            height:52px; padding-top:4px;
            margin-right:4px;
            font-size:14px;
            color:#002056;
            }	
    .quiz_template .design_prev_wrapper #score-hello span{
            font-weight:bold;}
    .quiz_template .design_prev_wrapper #edit-profile{
            position:absolute;
            bottom:0;
            font-size:11px;
            color:#6699bc;
            text-decoration:underline;
            cursor:pointer;
            z-index:9;
    }

    /*dsssdsd*/

    .quiz_template .design_prev_wrapper .min_button {
        display:block;
        width:230px;
        height:66px;
        line-height:66px;
        font-size:28px;
        font-weight:bold;
        border:2px solid #145EA6;
        color:#ffffff;
        cursor:pointer;


        background: #70a4c7; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYTRjNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzgwYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #70a4c7 0%, #3780b1 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70a4c7), color-stop(100%,#3780b1)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #70a4c7 0%,#3780b1 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #70a4c7 0%,#3780b1 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #70a4c7 0%,#3780b1 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #70a4c7 0%,#3780b1 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70a4c7', endColorstr='#3780b1',GradientType=0 ); /* IE6-8 */


    } 

    .quiz_template .design_prev_wrapper .min_button:hover {
        background: #296ca0; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NmNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDcwYTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #296ca0 0%, #3d70a5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#296ca0), color-stop(100%,#3d70a5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #296ca0 0%,#3d70a5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #296ca0 0%,#3d70a5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #296ca0 0%,#3d70a5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #296ca0 0%,#3d70a5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296ca0', endColorstr='#3d70a5',GradientType=0 ); /* IE6-8 */

    }

    .quiz_template .design_prev_wrapper .min_button.go {
        margin-top:20px;
    }

    .quiz_template .design_prev_wrapper .loading {
        position:absolute;
        top:0px;
        height:4px;
        width:100%;
    }

    .quiz_template .design_prev_wrapper .loading .fill {
        height:4px;
        background-image:url('/games/logic/quiz/media/img/pbbg.png');
        width:0%;
        float:left;
    }

    .quiz_template .design_prev_wrapper .question {
        padding:10px;
    }


    .quiz_template .design_prev_wrapper .game_options {
        border:0px solid black;
        min-height:300px;
        padding-right:210px;
    }

    .quiz_template .design_prev_wrapper .game_options .option {
        width:42%;
        border:1px solid red;
        float:left;
        height:40px;
        border:2px solid #9ABFD8;
        margin:1%;
        padding:1%;
    }

    .quiz_template .design_prev_wrapper .option {
        background: #e6eff5; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWZmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGMzZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #e6eff5 0%, #a0c3da 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6eff5), color-stop(100%,#a0c3da)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e6eff5 0%,#a0c3da 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e6eff5 0%,#a0c3da 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e6eff5 0%,#a0c3da 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e6eff5 0%,#a0c3da 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eff5', endColorstr='#a0c3da',GradientType=0 ); /* IE6-8 */
    }


    .quiz_template .design_prev_wrapper .option.correct {
        background: #d9f3ff; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5ZjNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMmRlZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #d9f3ff 0%, #a2deff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9f3ff), color-stop(100%,#a2deff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d9f3ff 0%,#a2deff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d9f3ff 0%,#a2deff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d9f3ff 0%,#a2deff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d9f3ff 0%,#a2deff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9f3ff', endColorstr='#a2deff',GradientType=0 ); /* IE6-8 */
        border-color:green;
    }

    .quiz_template .design_prev_wrapper .option.wrong {
        background: #ffccd6; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2NkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjkxOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffccd6 0%, #ff919c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffccd6), color-stop(100%,#ff919c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffccd6 0%,#ff919c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffccd6 0%,#ff919c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffccd6 0%,#ff919c 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffccd6 0%,#ff919c 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffccd6', endColorstr='#ff919c',GradientType=0 ); /* IE6-8 */

    }

    .quiz_template .design_prev_wrapper .option.normal:hover {
        cursor:pointer;
    }

    .quiz_template .design_prev_wrapper .option.correct_wrong{
        transform: rotateY( 360deg ) rotateX(360deg) translateZ(0px );
        transition: transform 500ms;
        background: #e6eff5; 

        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWZmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjk3ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #e6eff5 0%, #2f97d8 100%);  
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6eff5), color-stop(100%,#2f97d8));  
        background: -webkit-linear-gradient(top,  #e6eff5 0%,#2f97d8 100%);   
        background: -o-linear-gradient(top,  #e6eff5 0%,#2f97d8 100%);  
        background: -ms-linear-gradient(top,  #e6eff5 0%,#2f97d8 100%);  
        background: linear-gradient(to bottom,  #e6eff5 0%,#2f97d8 100%);  
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eff5', endColorstr='#2f97d8',GradientType=0 );

    }

    .quiz_template .design_prev_wrapper .option.disabled {
        background: #f0f0f0; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWQ5ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #f0f0f0 0%, #d9d9d9 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f0f0f0 0%,#d9d9d9 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f0f0f0 0%,#d9d9d9 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f0f0f0 0%,#d9d9d9 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-8 */
        border-color:#DCDCDC;
        cursor:not-allowed;
        color:#ffffff;
    }

    .quiz_template .design_prev_wrapper .option.disabled:hover {
        cursor:not-allowed;
    }

    .quiz_template .design_prev_wrapper .option.correct_wrong:hover{

    }


    .quiz_template .design_prev_wrapper .game_end_content {
        min-height:300px;
        padding-right:210px;
    }

    .quiz_template .design_prev_wrapper .game_end h1 {
        color: #DC485E;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 40px;
        width: 100%;
    }

    .quiz_template .design_prev_wrapper .game_end h3 {
        font-size: 20px;
        font-weight: normal;
    }

    .quiz_template .design_prev_wrapper .leaders {
        width:300px;
        float:left;
    }

    .quiz_template .design_prev_wrapper .leader {
        border-bottom:1px solid #24244F;
        margin-top:10px;
    }

    .quiz_template .design_prev_wrapper .leader_score {
        float:right;
    }

    @font-face {
      font-family: 'Scoreboard';
      src: url('/games/logic/quiz/media/css/fonts/scoreboard.ttf') format('truetype');
    }

    .quiz_template .design_prev_wrapper .timer {
        float:left;
        background-color:#24244F;
        height:40px;
        width:90px;
        line-height:40px;
        color:#48AAEC;
        text-align:center;
        font-size:38px;
        font-family: Scoreboard;
    }

    .quiz_template .design_prev_wrapper .strikes {
       float:left;
        background-color:#24244F;
        height:34px;
        width:70px;
        margin-left:20px;
        padding:3px 10px;
        color:#48AAEC;
        text-align:center;
        font-size:13px;
    }


    .quiz_template .design_prev_wrapper .strikes .strike{  
        height:18px;
        width:18px;
        background-image:url('/games/logic/quiz/media/img/game-strikes-x.png');
        background-position: center right;
        float:left;
        margin-right:7px;
    }

    .quiz_template .design_prev_wrapper .strikes .strike:last-of-type {
        margin-right:0px;
    }


    .quiz_template .design_prev_wrapper .strikes .strike.active {
        background-position: center left;
    }


    .quiz_template .design_prev_wrapper .lifes {
        float:left;

        border:0px solid red;
        height:60px;
        margin-top:20px;
    }

    .quiz_template .design_prev_wrapper .lifes .life {
        float:left;
        width:40px;
        height:54px;
        padding-top:6px;
        background-image:url('/games/logic/quiz/media/img/game-lifes-bg.png');
        background-position: center left;
        text-align:center;
        font-size:12px;
        font-weight:bold;
        cursor:pointer;
        margin-right:40px;
        color:#000000;
    }


    .quiz_template .design_prev_wrapper .lifes .life.active {
        background-position: center right;
        cursor:default;
    }

    .quiz_template .design_prev_wrapper .lifes .life:last-of-type {
        margin-right:0px;
    }




    .quiz_template .design_prev_wrapper,
    .quiz_template .design_prev_wrapper #score-hello {
        color:{{new_game.game_design.color_1}};
    }

    .quiz_template .design_prev_wrapper .leader {
        border-color:{{new_game.game_design.color_1}};
    }

    .quiz_template .design_prev_wrapper .timer,
    .quiz_template .design_prev_wrapper .strikes {
        background-color:{{new_game.game_design.color_1}};
    }


    .quiz_template .design_prev_wrapper .timer,
    .quiz_template .design_prev_wrapper .strikes {
        color:{{new_game.game_design.color_2}};
    }



    .quiz_template .design_prev_wrapper .option {
        background: {{new_game.game_design.color_3}}; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZWZmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMGMzZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  {{new_game.game_design.color_3}} 0%, {{new_game.game_design.color_4}} 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,{{new_game.game_design.color_3}}), color-stop(100%,{{new_game.game_design.color_4}})); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  {{new_game.game_design.color_3}} 0%,{{new_game.game_design.color_4}} 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  {{new_game.game_design.color_3}} 0%,{{new_game.game_design.color_4}} 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  {{new_game.game_design.color_3}} 0%,{{new_game.game_design.color_4}} 100%); /* IE10+ */
        background: linear-gradient(to bottom,  {{new_game.game_design.color_3}} 0%,{{new_game.game_design.color_4}} 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{new_game.game_design.color_3}}', endColorstr='{{new_game.game_design.color_4}}',GradientType=0 ); /* IE6-8 */

    }

    .quiz_template .design_prev_wrapper .game_options .option {
        border-color:{{new_game.game_design.color_4}};
    }

</style>
