<div id="top_screen" ng-include src="'/app/partials/dice/includes/top_screen.html'"></div>
<!--<div id="side_menu" ng-include src="'/app/partials/dice/includes/side_menu.html'"></div>-->
<div id="content_wrap">
    <div class="slogen" ng-include src="'/app/partials/dice/includes/slogen.html'"></div>
    <div class="wrapper">
    <div id="play_content" ng-init="initPlay();fixLayout()" class="white">
        <div class="player_top">
            <h1>
                <span class="game_name" ng-bind="game.name"></span></span>
            </h1>
            <br class="clr" />
        </div>
        <div id="player" ng-include src="'/app/partials/dice/includes/player.html'" ng-controller='GameController'></div>
        <div class="plays"><span ng-bind="game.plays"></span> played</div>

        <div id="game_full_data">
            <div class="player_section">
                Published <span ng-bind="game.u_time"></span> by <a ng-href="{{game.channel_url}}" class="nocolor" ng-bind="game.channel_name"></a>

                <button  class="subscribe" type="button" ng-click="subscribeChannle(game.cid)" ng-bind-html="subscribe_text"></button>

            </div>
            <hr>
            <div class="player_section">
                <h3>Description</h3>
                <p ng-bind-html="game.full_desc"></p>
                <div class="social_links">
                	<a ng-href="https://www.facebook.com/sharer.php?u=http://www.wheeldo.co/play?gid={{game.unique_id}}%26r=facebook" target="_blank">
                		<img src="/media/css/dice/img/facebook.png" />
                	</a>
                    <!--<a href="javascript:void(0)" ng-click="facebookShareGameUser()"><img src="/media/css/dice/img/facebook.png" /></a>-->
                    <a linkedin ng-href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.wheeldo.co/play%3Fgid={{game.unique_id}}%26r=linkedin&title={{escape(game.name)}}&summary={{escape(game.full_desc)}}&source=http://www.wheeldo.co" target="_blank"><img src="/media/css/dice/img/linkedin.png" /></a>
                    <!--<a linkedin ng-href="http://www.linkedin.com/cws/share?url=http://www.wheeldo.co/play?gid={{game.unique_id}}&original_referer=http://www.wheeldo.co/play?gid={{game.unique_id}}&token=&isFramed=false&lang=en_US&_ts=1398934328126.8645" target="_blank"><img src="media/css/dice/img/linkedin.png" /></a>-->
                    <a twitterajax data-text="{{game.name}}" data-url="http://www.wheeldo.co/play?gid={{game.unique_id}}&r=twitter"></a>
                </div>
            </div>
            <div class="player_section" ng-init="load_comments()">
                <!--<h3>COMMENTS (<fb:comments-count href="{{absUrl}}"/></fb:comments-count>)</h3>
                <div class="fb-comments" data-href="{{absUrl}}" data-numposts="10" data-colorscheme="light" data-width="700"></div>-->
                <h3>COMMENTS (<fb:comments-count href="http://www.wheeldo.co/play?gid={{game.unique_id}}"/></fb:comments-count>)</h3>
                <div class="fb-comments" data-href="http://www.wheeldo.co/play?gid={{game.unique_id}}" data-numposts="10" data-colorscheme="light" data-width="700"></div>
                <br class="clr" />
            </div>
        </div>
    </div>
    </div>
</div>

<style>
    #side_menu {
        display:none;
    }
    
    #content_wrap {
        padding-left:0px;
    }
</style>