<link rel="stylesheet" type="text/css" href="/media/css/dice/style_mobile.css">
<div id="mobile_top_screen" ng-include src="'/app/partials/dice/mobile/includes/top_screen.html'"></div>
<div class="mobile_content" id="content_wrap">
    <div ng-show="user_login" ng-include src="'/app/partials/dice/mobile/includes/my_games_rows.html'"></div>
<!--    <div class="banner_1_mobile" ng-include src="'/app/partials/dice/mobile/includes/banner_1.html'"></div>
    
    <h3 class="game_row_headline">Featured games</h3>
    <div class="games_row" ng-include src="'/app/partials/dice/includes/featured_games.html'"></div>
    
    
    <h3 ng-show="user_login" class="game_row_headline">My games</h3>
    <div ng-show="user_login" class="games_row" ng-include src="'/app/partials/dice/includes/my_games.html'"></div>-->
    
<!--    <h3 class="game_row_headline">Recommended games</h3>
    <div class="games_row" ng-include src="'/app/partials/dice/includes/suggested_games.html'"></div>
    
    <h3 class="game_row_headline">Popular games</h3>
    <div class="games_row" ng-include src="'/app/partials/dice/includes/popular_games.html'"></div>-->
</div>
<div id="mobile_footer" ng-include src="'/app/partials/dice/mobile/includes/footer.html'"></div>

<div id="preload-01"></div>
<div id="preload-02"></div>
<div id="preload-03"></div>
<div id="preload-04"></div>
<div id="preload-05"></div>
<style>
    #preload-01 { background: url(/media/img/hp_banner/0_mobile.jpg) no-repeat -9999px -9999px; }
    #preload-02 { background: url(/media/img/hp_banner/1_mobile.jpg) no-repeat -9999px -9999px; }
    #preload-03 { background: url(/media/img/hp_banner/2_mobile.jpg) no-repeat -9999px -9999px; }
    #preload-04 { background: url(/media/img/hp_banner/3_mobile.jpg) no-repeat -9999px -9999px; }
    #preload-05 { background: url(/media/img/hp_banner/4_mobile.jpg) no-repeat -9999px -9999px; }
</style>